<%- include("template/cabecera", {tituloWeb: 'Detalles del entrenador' }) %>
    <div class="container">
        <h1>Detalles del Pokémon</h1>
        <% if (error) { %>
            <%= mensaje %> 
            <a 
                href="/entrenador"
                class="btn btn-dark btn-block my-2"
            >
                Volver
            </a>
<% } %>
<% if (!error) { %>
    <form id="editar" data-id="<%= entrenador.id %>">
        <input type="text" value="<%= entrenador.Nombre %>" class="form-control my-2" name="Nombre"
            id="nombreInput">
        <input type="text" value="<%= entrenador. Bio %>" class="form-control my-2" name="Bio"
            id="tipoInput">
        <input type="text" value="<%= entrenador.Ciudad %>" class="form-control my-2"
            name="Ciudad" id="descripcionInput">
        <input type="text" value="<%= entrenador.Lista_Pokemon %>" class="form-control my-2"
            name="Lista_Pokemon" id="descripcionInput">
        <button class="btn btn-warning btn-sm" type="submit">
            Editar
        </button>
        <button class="btn btn-danger btn-sm" data-id="<%= entrenador.id %>">
            Eliminar
        </button>
    </form>
    <hr>
   
<% } %>

    </div>
<%- include("template/footer") %>
<script>
    const btnEliminar = document.querySelector('.btn-danger')
    btnEliminar.addEventListener('click', async () => {
        console.log(btnEliminar.dataset.id)
        try {
            // https://developer.mozilla.org/es/docs/Web/API/HTMLElement/dataset
            const data = await fetch(`/entrenador/${btnEliminar.dataset.id}`, {
                method: 'delete'
            })
            const res = await data.json()
            console.log(res)
            if (res.estado) {
                window.location.href = '/entrenador'
            } else {
                console.log(res)
            }
        } catch (error) {
            console.log(error)
        }
    })
    const formEditar = document.querySelector('#editar');
            formEditar.addEventListener('submit', async (e) => {
                e.preventDefault()
                const Nombre = formEditar.elements['nombre'].value
                const Bio = formEditar.elements['Bio'].value
                const ciudad = formEditar.elements['Ciudad'].value
                const Lista_pokemon = formEditar.elements['Lista_Pokemon'].value
                const id = formEditar.dataset.id

                const data = await fetch(`/entrenador/${id1}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ Nombre, Bio, ciudad, Lista_pokemon})
                })
                const res = await data.json()
                if (res.estado) {
                    window.location.href = '/entrenador'
                } else {
                    console.log(res)
                }
            })

    </script>